body {
    color: #777;
    font-family: roboto,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625em;
    position: relative;
}

.p1 {
    font-size: xx-large;
    text-align: center;
}

.p2 {
    font-size: medium;
    text-align: center;
}

.gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(10px 5px 4px #4f4f58);
    border: 1px solid black;
}

.download {
    display: block;
    margin-left: 46%;
    margin-right: auto;
    margin-top: 30px;
}

.button {
    max-width:7%; 
    height:auto; 
}